.App {
    text-align: center;
    background-color: #696969;
}


.App-header {
    background-color: #A9A9A9;
    min-height: 10vh;

    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    font-style: initial;
    color: #696969;
}

.App-content {
    background-color: #D3D3D3;

    align-items: center;
    justify-content: center;
    font-size: calc(8px + 2vmin);
    color: #696969;
}


.App-table td, th {
    border-color: black;
    border: solid;
    align-content: center;
}

.App-table th {
    background-color: #DCDCDC;
}




.App-footer {
    background-color: #DCDCDC;

    align-items: end;
    justify-content: end;
    font-size: calc(8px + 2vmin);
    color: aliceblue;

}


